apscheduler==3.11.2
beautifulsoup4==4.14.3
certifi==2026.2.25
charset-normalizer==3.4.7
deep-translator==1.11.4
httpx==0.28.1
idna==3.11
python-dotenv==1.2.2
python-telegram-bot==22.7
requests==2.33.1
tzdata==2025.3
tzlocal==5.3.1